<div *ngIf="loading$ | async" class="ui segment">
  <p></p>
  <div class="ui active dimmer">
    <div class="ui loader"></div>
  </div>
</div>

<div class="ui grid">

  <div class="sixteen wide column" *ngFor="let cat of cats">

    <sui-message class="icon">
      <i class="inbox icon"></i>
      <div class="content">
        <div class="header">
          {{cat.id}}
        </div>
        <p>{{cat.text}}</p>
      </div>
    </sui-message>

  </div>

  <a class="ui button" routerLink="new">New</a>
</div>
